<div class="container">
    <div class="card">
      <h5 class="card-header">Agregar Cuenta</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <form ng-submit="createAccount()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">
                      Nombre del Usuario
                    </label>
                    <input type="text" class="form-control" placeholder="Ej. Juan Perez" ng-model="nAccount.name" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="email">
                      Correo del Usuario
                    </label>
                    <input type="email" class="form-control" placeholder="correo@ejemplo.com" ng-model="nAccount.email" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="aT">
                      Tipo de Cuenta
                    </label>
                    <select ng-model="nAccount.accountType" class="form-control" required>
                      <option value="false">Profesor</option>
                      <option value="true">Alumno</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="nAccount.accountType == 'true'">
                <div class="col-sm-12">
                  <div class="form-group"`>
                    <label for="section">
                      Elija una sección
                    </label>
                    <select class="form-control" ng-model="nAccount.section" ng-required="nAccount.accountType == 'true'">
                      <option ng-repeat="s in sectionsList" value="{{s.code}}">
                        {{s.code}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary float-right">Registrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <h5 class="card-header">Usuarios</h5>
      <div class="card-body">
          <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle text-center">Nombre del Usuario</th>
                            <th scope="col" class="align-middle text-center">Correo Electrónico</th>
                            <th scope="col" class="align-middle text-center">Tipo de Cuenta</th>
                            <th scope="col" class="align-middle text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in users">
                            <th scope="row" class="align-middle text-center">{{u.name || "-"}}</th>
                            <td class="align-middle text-center">{{u.email}}</td>
                            <td class="align-middle text-center">{{(u.student) ? "Alumno" : "Docente"}}</td>
                            <td class="align-middle text-center">
                                <a href="#" ng-click="removeUser(u.email)" ng-show="u.level != 0"><i class="fas fa-minus-circle"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>
    <br>
    
    <!--
    <div class="card">
      <h5 class="card-header">Eliminar Cuenta</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    -->

</div>