<div class="container" ng-show="isLoggedIn">
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control muli" ng-model="searchKeyword" placeholder="Buscar una Tesis" aria-label="Buscar una Tesis" aria-describedby="search-addon">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                    <th class="align-middle text-center">
                        Titulo
                    </th>
                    <th class="align-middle text-center">
                        Palabras Clave
                    </th>
                    <th class="align-middle text-center">
                        
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="t in tesisList | filter: searchKeyword track by t.id">
                        <th class="align-middle text-center">
                            {{t.title}}
                        </th>
                        <td class="align-middle text-center" style="display: none;">
                            {{t.abstract}}
                        </td>
                        <td class="align-middle text-center">
                            {{t.keywords.join(", ")}}
                        </td>
                        <td class="align-middle text-center">
                            <a href="#" ng-click="setTesisInfo(t)" data-toggle="modal" data-target="#seeTesisModal" title="Ver Tesis" style="font-size: 30px;">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container" ng-show="!isLoggedIn">
    <div class="row">
        <div class="col-sm-12 text-center align-middle">
            <p class="font-italic">
                <a href="/login">Ingrese a la plataforma</a> con sus credenciales para acceder al repositorio.
            </p>
        </div>
    </div>
</div>

<div class="modal fade" id="seeTesisModal" tabindex="-1" role="dialog" aria-labelledby="seeTesisModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{tesis.title}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 text-center align-middle">
                <a href="#" ng-click="showFile(tesis.files.path, tesis.files.filename)" style="font-size: 50px;">
                    <i class="far fa-file-pdf"></i>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-12">
                <strong>
                    Abstract
                </strong>
            </div>
            <div class="col-sm-12">
                {{tesis.abstract}}
            </div>
        </div>
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-sm-12">
                <strong>Palabras Claves</strong>
            </div>
            <div class="col-sm-12">
                {{tesis.keywords.join(", ")}}
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
 </div>
</div>

<!-- Modal -->
<form ng-submit="changePassword()">
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title muli" id="exampleModalLabel">Cambio de Contraseña</h5>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <p class="muli text-medium">
                        Antes de continuar, debe cambiar su Contraseña.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="oldPassword-addon">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" name="oldPassword" id="oldPassword" class="form-control muli" ng-model="changePasswordData.oldPassword" placeholder="Contraseña actual" aria-label="Contraseña actual" aria-describedby="oldPassword-addon" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password-addon">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control muli" ng-model="changePasswordData.nPassword" placeholder="Nueva Contraseña" aria-label="Nueva Contraseña" aria-describedby="password-addon" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password2-addon">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" name="password2" id="password2" class="form-control muli" ng-model="changePasswordData.nPassword2" placeholder="Repita la nueva Contraseña" aria-label="Repita la nueva Contraseña" aria-describedby="password2-addon" required>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
</form>