<div ng-controller="AuthController">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <form ng-submit="login()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo Electrónico</label>
                  <input type="email" ng-model="loginData.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo@ejemplo.com">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" ng-model="loginData.password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                </div>
                <a class="float-left" href="#" data-toggle="modal" data-target="#signUpModal">Registrarse</a>
                <button type="submit" class="btn btn-primary float-right">Ingresar</button>
              </form>
          </div>
      </div>
  </div>
  
  <!-- Modal -->
  <form ng-submit="signUp()">
      <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo Electrónico</label>
                  <input type="email" ng-model="sign.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo@ejemplo.com" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" ng-model="sign.password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>